<p id="startTrace" class="text-primary" style="cursor: pointer; margin: 5px;display: inline-block;">Start Trace <i class="glyphicon glyphicon-play"></i></p>&nbsp;&nbsp;
<p id="stopTrace" class="text-primary" style="cursor: pointer; margin: 5px;display: inline-block;">Stop Trace <i class="glyphicon glyphicon-stop"></i></p>&nbsp;&nbsp;
<p id="clearTraceInfo" class="text-primary" style="cursor: pointer; margin: 5px;display: inline-block;">Clear <i class="glyphicon glyphicon-trash"></i></p>&nbsp;&nbsp;
<div style="font-size:18px; color:red;">Click "Stop Trace" button when you no longer need this feature.</div>
<!-- <div class="btn-group" role="group" aria-label="..." id="uidumpbuttom">
    <button type="button" onclick="loaduiScript()" class="btn btn-default btn-xs">Confirm</button>

    <button type="button" id="" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Refresh</button>

</div> -->

<style type="text/css">
 #uiNetwork pre{
  padding: 1px;
  margin: 0;
  line-height: 2;
  border: none;
}
.text-primary:hover{
    background: #eee;
}

.text-primary {
    color: #337ab7;
    line-height: 20px;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
}

</style>

<div class="well" id="uiNetwork">
    <!--
    <pre id="testcode" style="overflow: auto"></pre>


    <p>Activity: <code id="Activity"></code></p>
    <p>Pid: <code id="pid"></code></p>
    <p>Click: <code id="click"></code></p>
    <p>Listener: <code id="listener"></code></p>
    <p>Fragment: <code id="fragment"></code></p>
    -->
</div>